body{
    color: #FF7500;
}
.LoginBtn{
    color: linear-gradient(62deg, #ff7500 0%, #e64800 100%)!important;
    
    
}
#background-video{

    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: none;
    position: fixed;
    
    
    }
.video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -14;
  }
  .video-foreground,
  .video-background video {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  @media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 300%; left: -100%; }
  }
  @media all and (max-width: 600px) {
  .vid-info { width: 50%; padding: .5rem; }
  .vid-info h1 { margin-bottom: .2rem; }
  }
  @media all and (max-width: 500px) {
  .vid-info .acronym { display: none; }
  }
  #login{
      background-color: transparent;
  }

  #login::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }
  
  .noacc{
      color:rgb(180, 0, 0);
  }
  .noacc:hover{
    color:rgb(255, 0, 0);
  }
  .monkeImg{
      width: 200px;
      border-radius: 100%;
  }
  .monke{
      display: none;
  }