@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); /* IE9 Compat Modes */
  src: local('VT323'), local('VT323'),
      url('https://fonts.googleapis.com/css2?family=VT323&display=swap') format('embedded-opentype'), /* IE6-IE8 */
       url('https://fonts.googleapis.com/css2?family=VT323&display=swap') format('woff2'), /* Super Modern Browsers */
       url('https://fonts.googleapis.com/css2?family=VT323&display=swap') format('woff'), /* Modern Browsers */
       url('https://fonts.googleapis.com/css2?family=VT323&display=swap') format('truetype'), /* Safari, Android, iOS */
       url('https://fonts.googleapis.com/css2?family=VT323&display=swap') format('svg'); /* Legacy iOS */
}
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

