@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: 'VT323' !important;
    min-height: 100vh;
  }
  h1{
    font-size: 50px !important;
  }